* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414!important;
}
.header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
}
#search {
    padding: 10px 30px;
    background-color: rgb(177, 86, 0);
    height: 80%;
    margin-bottom: auto;
    border-bottom-left-radius: 40px;
}

#search input {
    padding: 10px;
    margin-bottom: 4px;
    border-radius: 30px;
    border: 1px solid rgb(59, 59, 59);
    outline: none;
    background-color: rgb(133, 175, 209);
    height: 30px;
}

.search-btn {
    background-color: transparent;
    border: 0;
}

/* navbar */
nav{
    margin-top: 2px;
    padding: 3px;
    background-color: #272727;
    height: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: end;
    width: 350px;
    height: 100%;
    margin-left: 140px;
}
nav li{
    padding: 3px 20px 0 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-left: solid 2px rgb(255, 160, 52);
}



li a,.loginSignup a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* nav li:hover{
    border-bottom:solid #afafaf 1px ;
    border-right:solid #4e4e4e 1px ;
    background-color: #cccccc;
    border-bottom-right-radius: 20px;
} */
nav li a:hover{
    color: rgb(196, 93, 20);
}
.loginSignup a:hover{
    color:rgb(25, 25, 255)
}
.loginSignup{
    margin: auto 0;
    width: 200px;
    color: rgb(155, 155, 155);
}
